extends layout

block content
	h1.beerName IPA
	
	section
		img.beerLabel
		ul.beerInfo
			li.style good
			li.abv a lot

		article.description  We will replace this with nonsense.


block pagescripts
	script(src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js")
	script(src="../scripts/locator-module.js")