extends layout


block pagestyles
	link(rel="stylesheet", href="../styles/stache.css")

block content
	a(href="http://www.averybrewery.com")
		img.top-logo(src="/images/avery-tab.svg", alt="Avery Brewery logo")
	section.card.clearfix
		div.loader AVERY IS THE BEST

		div.label-and-info.pull-left
			img.beer-label(src="")#BeerLabel

			ul#BeerInfo.centerHorizontal.beer-info
				li.describer Style: 
					span#BeerStyle.beer-values
				li.describer ABV: 
					span#ABV.beer-values
		
		div.stache.pull-left
			div.generate-section.clearfix
				button#HipsterLink.btn.btn-xs.btn-default.generator-btn.pull-right
					escaped Generate Stache&#8482;

			article#Description.centerHorizontal
				p.hipster-text Some awesome stuff that describes the beer.
				p#beerSignature.signature-text ~

			div#tweetButtonHolder.lower-button-holder


			nav.clearfix
				ul.relatedBeers.clearfix

	div.overlay
block footer

block pagescripts
	script(src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js")
	script(src="/scripts/twitter-button.js")
	script(src="/scripts/hipster-library.js")
	script(src="/scripts/stache-module.js")
