/*section.card{
	box-shadow: 3px 3px rgba(0,0,0,.15);
	border: 1px solid;
	border-radius: 5px;
	max-width: 350px;

	margin: 50px auto;
	padding: 20px;
	position: relative;

}*/

.loader{
	color: transparent;
	background-color: #1F1E1D;
	background-image: url("https://d13yacurqjgara.cloudfront.net/users/372480/screenshots/1975846/zedazeni-loader-2.gif");
	background-position: center;
	background-repeat: no-repeat;
	content: '';
	height: 100%;
	position: absolute;
	opacity: .99;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99;
}

.beer-label{
	display: block;
	margin: auto;
	max-width: 75%;
	padding-bottom: 25px;
}

.beer-info {
	color: rgb(240, 240, 240);
	list-style: none;
	padding: 0;
}

.describer {
	font-family: sans-serif;
	font-size: 12px;
	color: silver;
}
.beer-values {
	font-family: "EB+Garamond";
	color: rgb(240, 240, 240);
	font-size: 14px;
}

.label-and-info {
	padding-top: 110px;
	width: 30%;
	height: 20%;
}

.stache {
	padding-top: 185px;
	width: 60%;
}

.hipster-text {
	padding-top: 45px;
	font-size: 30px;
	color: rgb(240, 240, 240);
	text-shadow: 2px 2px 5px rgb(0,0,0);
}

.generator-btn {
	font-family: sans-serif;
}

#widget a {
	margin: auto;
}

/*ul{
	border-bottom: 1px solid black;
	list-style: none;
	padding-bottom: 15px
}*/

/*article{
	padding: 15px 5px;

}*/

.centerHorizontal{
	margin: auto;
	text-align: center;
}